.db__header {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.filterOptions {
    display: flex;
    gap: 8px;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--bg-color-secondary);
    border: 1px solid var(--border-color-primary);
    padding: 4px;
}

.filterOptions button {
    display: flex;
    padding: 4px 8px;
    border-radius: 4px;
}

.filterOptions .active {
    background: #eee;
}

.filterOptions button svg {
    width: 22px;
    height: 22px;
    fill: var(--text-color-secondary);
    vertical-align: middle;
}

.filterOptions button:hover {
    background: #eee;
}

.db__body {
    background-color: var(--bg-color-secondary);
    border-radius: 4px;
    border: 1px solid var(--border-color-primary);
    padding: 0 0.5rem;
}

#categories {
    border-collapse: collapse;
    width: 100%;
}

#categories .td,
#categories .th {
    padding: 0.5rem;
}

#categories .tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid var(--border-color-primary);
}

#categories .tr .title {
    display: flex;
    align-items: center;
}

#categories .th {
    color: var(--text-color-primary);
    text-align: right;
}

#categories .td {
    color: var(--text-color-secondary);
}

.category__data {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}

.category__data:hover .category__name p {
    color: var(--first-color);
}

.category__image {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 8px;
}

.category__image img {
    width: 100%;
    height: 100%;
}

/* Pagination */
.pagination {
    margin: 1rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
}

.pagination span {
    color: var(--text-color-secondary);
    cursor: context-menu;
    font-size: var(--small-font-size);
}

.pagination ul {
    cursor: context-menu;
}

.pagination ul li {
    display: inline-block;
}

.pagination ul li div {
    background: var(--bg-color-secondary);
    border: 1px solid var(--border-color-primary);
    padding: 0.3rem 1.5rem;
    border-radius: 5px;
    transition: 0.3s;
}

.pagination ul li a div {
    color: var(--text-color-secondary);
}

.pagination ul li div:hover {
    box-shadow: var(--shadow);
}

/* Add New Category */
.addNewBtn {
    position: fixed;
    bottom: 1rem;
    z-index: 10;
    display: flex;
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
    background-color: #52b035;
    cursor: pointer;
    box-shadow: var(--shadow);
}

.addNewBtn svg {
    width: 22px;
    height: 22px;
    fill: #fff;
    vertical-align: middle;
}

.addNewBtn:hover {
    opacity: 0.9;
}

.model__box {
    background: rgb(0 0 0 / 70%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: opacityAnimation;
    animation-duration: .4s;
}

@keyframes opacityAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.closeBtn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    background: #ffffff;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: var(--shadow);
    display: flex;
}

.closeBtn svg {
    width: 22px;
    height: 22px;
    fill: var(--text-color-secondary);
    transition: 0.3s;
}

.closeBtn:hover svg {
    transform: scale(1.3);
    fill: var(--first-color);
}

.modal__form {
    background-color: var(--bg-color-secondary);
    box-shadow: var(--shadow);
    border-radius: 4px;
    width: 500px;
    animation-name: zoomInAnimation;
    animation-duration: .4s;
}

@keyframes zoomInAnimation {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.form__header {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color-primary);
}

.form__header h3 {
    font-size: var(--normal-font-size);
    line-height: unset;
}

.form__body {
    padding: 1rem;
}

.input__group {
    display: flex;
    flex-direction: column;
}

.input__group input,
.input__group select {
    padding: 8px 10px;
    outline: none;
    margin: 6px 0;
    border-radius: 4px;
    background-color: rgba(228, 228, 231, 0.4);
    border: 1px solid rgba(228, 228, 231, 0.7);
    transition: 0.3s;
}

.input__group input:hover,
.input__group select:hover {
    border: 1px solid rgba(228, 228, 231, 1);
}

.input__group input:focus,
.input__group select:focus {
    border: 1px solid var(--first-color);
}

.input__group label,
.input__group select {
    cursor: context-menu;
}

.input__group span {
    font-size: var(--small-font-size);
    color: #f23d3d;
    cursor: context-menu;
}

.input__group__type {
    display: inline-block;
}

.input__group__type label {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    padding-right: 0;
    outline: none;
    margin: 6px 0px 0px 6px;
    border-radius: 4px;
    width: fit-content;
}

.input__group__type input {
    cursor: pointer;
}

.input__group__type label i {
    cursor: pointer;
    font-style: normal;
    margin-right: 4px;
}

.imagePreview {
    margin-left: 8px;
    border-radius: 4px;
    background: var(--bg-color-primary);
    width: 100px;
    height: 100px;
    display: none;
}

.uploadImageBtn {
    display: flex;
    padding: 10px;
    border-radius: 4px;
    background: var(--bg-color-primary);
    border: 1px solid var(--border-color-primary);
    width: fit-content;
}

.uploadImageBtn svg {
    width: 22px;
    height: 22px;
    fill: var(--text-color-secondary);
    vertical-align: middle;
}

.uploadImageBtn:hover svg {
    fill: var(--text-color-primary);
}

.input__btn {
    margin-top: 1rem;
}

.input__btn button {
    padding: 8px 2rem;
    border-radius: 4px;
    font-weight: var(--font-bold);
    background-color: var(--first-color);
    color: #ffffff;
}

.input__btn button:hover {
    opacity: 0.9;
}

.input__btn button:disabled,
.input__btn button[disabled] {
    background-color: #cd2d2d;
    cursor: context-menu;
}

.input__btn button:disabled:hover,
.input__btn button[disabled]:hover {
    opacity: 1;
}