.ads {
    background-color: var(--bg-color-secondary);
    border-radius: 4px;
}

.ads__row {
    padding: .5rem;
}

.ads__slide {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
}

.ad {
    background-color: var(--bg-color-secondary);
    border-radius: 4px;
}

.ad__row {
    padding: .5rem;
}

.href {
    display: flex;
    align-items: flex-start;
}

.ad__image__row {
    position: relative;
}

.editBtn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: var(--shadow);
    padding: 0.4rem;
    border-radius: 4px;
}

.editBtn svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.editBtn svg path {
    stroke: var(--text-color-secondary);
}

.editBtn:hover svg path {
    stroke: var(--first-color);
}

.href:hover .editBtn {
    display: block;
}

.ad__image {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 0.4rem;
    background-color: #eee;
}

.ad__body {
    display: flex;
    flex-direction: column;
}

.ad__title {
    font-size: 13px;
    color: var(--text-color-primary);
    line-height: 20px;
    -webkit-line-clamp: 2;
    display: block !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.3s;
}

.ad__title:hover {
    color: var(--first-color);
}

.ad__statics {
    margin-top: 4px;
    padding-top: 4px;
}

.ad__statics li {
    display: inline-block;
    margin: 4px 0 0 10px;
}

.ad__statics li div {
    display: flex;
}

.ad__statics li div p,
.ad__statics li div span,
.ad__statics li div a {
    color: var(--text-color-secondary);
}

.ad__statics li div p {
    margin-left: 6px;
}

.ad__statics li div a {
    text-decoration: underline;
}

.ad__statics li div a:hover {
    color: var(--first-color);
}

/* Pagination */
.pagination {
    margin: 1rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
}

.pagination span {
    color: var(--text-color-secondary);
    cursor: context-menu;
    font-size: var(--small-font-size);
}

.pagination ul {
    cursor: context-menu;
}

.pagination ul li {
    display: inline-block;
}

.pagination ul li div {
    background: var(--bg-color-secondary);
    border: 1px solid var(--border-color-primary);
    padding: 0.3rem 1.5rem;
    border-radius: 5px;
    transition: 0.3s;
}

.pagination ul li a div {
    color: var(--text-color-secondary);
}

.pagination ul li div:hover {
    box-shadow: var(--shadow);
}