.contact__info {
    background-color: var(--bg-color-secondary);
    border-radius: 4px;
}

.contact__info__row {
    padding: 1rem;
}

.group__in__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.input__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input__group label {
    cursor: context-menu;
}

.input__group input,
.input__group select {
    padding: 8px 10px;
    outline: none;
    margin: 6px 0;
    border-radius: 4px;
    background-color: rgba(228, 228, 231, 0.1);
    border: 1px solid rgba(228, 228, 231, 0.6);
    transition: 0.3s;
}

.input__group input:hover,
.input__group select:hover{
    border: 1px solid rgba(228, 228, 231, 1);
}

.input__group input:focus,
.input__group select:focus{
    border: 1px solid var(--first-color);
}

.input__group span {
    font-size: var(--small-font-size);
    color: #f23d3d;
    cursor: context-menu;
}

.message__error {
    margin-top: 10px;
    color: #f23d3d;
}

.input__btn button {
    padding: 12px 2rem;
    border-radius: 4px;
    font-weight: var(--font-bold);
    background-color: var(--first-color);
    color: #ffffff;
}

.input__btn button:hover {
    opacity: 0.9;
}

.input__btn button:disabled,
.input__btn button[disabled] {
    background-color: #cd2d2d;
    cursor: context-menu;
}

.input__btn button:disabled:hover,
.input__btn button[disabled]:hover {
    opacity: 1;
}


/* #############  Media Sizes  ############# */
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 900px) {
    .group__in__group {grid-template-columns: repeat(1, 1fr);}
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 500px) {
}